//PALETA DE COLORES
$color1: #1e1f22;
$color2: #D5CBAF;
$color3: #e34d37;
$color4: #4D7298;
$color5: #E3DCCA;
$color6: #EAE5D7;

//APPLICACIONES
$primary:$color1;
$secondary:$color2;
$terciary:$color5;
$fourth:$color6;