.footer {
    background-color: $primary;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    .img-1 img {
        width: 100px;
    }

    .img-2 {
        text-align: center;

        img {
            width: 50px;
        }

        p {
            a {
                color: $color2;
            }
            a:hover{
                color: $color3!important;
            }
        }
    }

    .img-3 img {
        width: 200px;
        ;
    }

}

@media (max-width:600px) {
    .footer .img-1 img {
        width: 50px;
    }

    .footer .img-2 img {
        width: 25px;
    }

    .footer .img-3 img {
        width: 100px;
        ;
    }
}