/* --------- BODY SECTION 1 --------- */
.section-1 {
    background-image: url(../../img/edificios-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;

    div {
        height: 650px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0 150px;

        h1 {
            font-size: 30px;
            padding: 0px;
        }

        p {
            font-size: 20px;
            padding: 0px;
        }

        a button {
            background-color: $primary;
            color: $secondary;
            font-size: 20px;
            border-radius: 10px;
            padding: 12px 28px;
            width: 200px;
        }

        a button:hover {
            background-color: $primary;
            color: $color3;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.3s;
        }
    }
}


/* --------- BODY SECTION 2 --------- */
.section-2{
    background-color: $terciary;
    //height: 600px;
}

    h2.title-padding.title-position {
        text-align: center;
        padding: 20px;
        margin: 0px;
        background-color: $secondary;
    }

        div {
            .btn-primary:hover {
                background-color: $primary;
                color: $color3  !important;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
             transition: 0.3s;
            }
        }

// ----------  SEPARADOR ------------

.separador {
    border-top: 1px solid black;
    height: 2px;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
  }

/* --------- BODY SECTION 3 --------- */
.section-3 {
    background-color: $fourth;
    height: 550px;

    .contenedor {
        padding: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    p {
        font-size: 20px;
        text-align: center;
    }
}